body {
  background-color: RGB(236,236,234)
  font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;

}

.container::after {
  content: "";
  background: rgba(0, 0, 0, .1) url('../xx.jfif') no-repeat center center;
  opacity: 0.3
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@import "_partial/header";
@import "_partial/date"
